*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background-image: url(/Portfolio/img/image.jpg);
    background-repeat: no-repeat;
    padding: 30px 30px 0px 30px;
    /* border: 2px solid orange; */
}

@media (min-width: 0px) {
    header a {
        text-decoration: none;
        color: black;

    }
    header {
        display: flex;
        flex-flow: row wrap;
        /* justify-content: space-around; */
        /* align-items: center; */


    }
    header nav#sociales {
        /* border: 2px solid red; */
        width: 100%;
        padding: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;

    }
    header nav#sociales a {
        /* border: 2px solid blue; */
        padding-right: 10px;
        background-color: black;
        border-radius: 100%;
        padding: 10px;
        margin-right: 10px;
        text-align: center;
        

    }
    header nav#sociales a i {
        font-size: 22px;
        color: #2F88FF;

    }
    hr {
        display: none;
    }

    main {
        /* border: 2px solid red; */
        display: flex;
        flex-flow: row wrap;
    }

    main h1 {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 30px;
        color: white;
        font-family: 'Fredoka', sans-serif;
        font-style: bold;
        font-weight: 400;
        font-size: 32px;
        text-shadow:
        -1px -1px 0 #000,
         0   -1px 0 #000,
         1px -1px 0 #000,
         1px  0   0 #000,
         1px  1px 0 #000,
         0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
    }

    main h3 {
        display: none;
    }

    main figure {
        width: 100%;
        /* height: 90%; */
        display: flex;
        justify-content: center;
        padding-top: 25px;
    }

    main figure img {
        height: 300px;
    }

    /* main h2 {
        display: none;
    } */

    main #skills {
        display: none;
    }
    main hr {
        display: none;
    }

    main nav#paginas {
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        flex-flow: column wrap;
        gap: 32px;
        padding-top: 40px;
        
    }

    main nav#paginas a {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #2F88FF;
        border: 5px solid #2F88FF;
        border-radius: 20px;
        background-color: black;
        font-family: 'Fugaz One';   
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        

    }

}

@media (min-width: 650px) {
    /* header {
        display: flex;
        flex-flow: row nowrap;
        
        
    } */

    header #sociales {
        width: 100%;
        justify-content: space-around !important;
    }

    header #sociales a {
        height: 100px;
        width: 100px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    header #sociales a i {
        font-size: 50px !important;
    }

    hr {
        display: flex;
    }

    main {
        display: grid;
        grid-template-areas:
        ".       ." 
        "figure  h1"
        "figure  skills"
        ".       ."
        "paginas paginas";
        grid-template-columns: 40% 60%;
        grid-template-rows: 25px 100px 200px 100px;

    }

    main h1 {
        grid-area: h1;
        
        
        
    }

    main figure {
        grid-area: figure;
        padding-top: 0px;
        
    }
    

    main nav#skills {
        
        grid-area: skills;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-end;        
    }

    main h2 {
        justify-content: center;
        display: flex;
        font-family: 'Fredoka';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        color: #F1EFEF;
        width: 100%;
        text-shadow:
        -1px -1px 0 #000,
         0   -1px 0 #000,
         1px -1px 0 #000,
         1px  0   0 #000,
         1px  1px 0 #000,
         0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
    }

    main #skills a {
        
        color: blue;
        padding-right: 10px;
        background-color: black;
        border-radius: 100%;
        padding: 15px;
        text-align: center;
        height: 80px;
        width: 80px;
        font-size: 45px;
    }
    main #skills i {
        color: #2F88FF;
    }

    main #paginas {
        
        padding: 20px;
        grid-area: paginas;
        display: flex;
        flex-flow: row nowrap !important; 
        justify-content: space-around;
    }

    main #paginas a {
        
        height: 100px !important;
        background: #2F88FF;
        border: 1px solid #2F88FF;
        border-radius: 50% 20% / 10% 40% !important;
        font-size: 18px !important;
    }    
        

}