*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background-image: url(/Portfolio/img/image.jpg);
    background-repeat: no-repeat;
    padding: 30px 30px 0px 30px;
}

@media (min-width: 0px) {
    header a {
        text-decoration: none;
        color: black;
    }
    header {
        display: flex;
        flex-flow: row wrap;
    }
    header nav#sociales {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    header nav#sociales a {
        
        padding-right: 10px;
        background-color: black;
        border-radius: 100%;
        padding: 10px;
        margin-right: 15px;
        text-align: center;
    }
    header nav#sociales a i {
        font-size: 22px;
        color: #2F88FF;
    }
    hr {
        display: none;
    }

    main {
        display: flex;
        flex-flow: row wrap;
    }

    main h1 {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 30px;
        color: white;
        font-family: 'Fredoka', sans-serif;
        font-style: bold;
        font-weight: 400;
        font-size: 32px;
        text-shadow:
        -1px -1px 0 #000,
         0   -1px 0 #000,
         1px -1px 0 #000,
         1px  0   0 #000,
         1px  1px 0 #000,
         0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
    }

    main h3 {
        display: none;
    }

    main figure {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-top: 25px;
    }

    main figure img {
        height: 300px;
    }

    main h2 {
        display: none;
    }

    main #skills {
        display: none;
    }
    main hr {
        /* display: none; */
    }

    main nav#paginas {
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        flex-flow: column wrap;
        gap: 32px;
        padding-top: 40px;
        
    }

    main nav#paginas a {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #2F88FF;
        border: 5px solid #2F88FF;
        border-radius: 20px;
        background-color: black;
        font-family: 'Fugaz One';   
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
    }
    main nav#paginas a:hover {
        color: white;
        background-color: #2F88FF;
        transition: 0.5s;
        scale: 1.1;
    }

}

@media (min-width: 650px) {

    header #sociales {
        width: 100%;
        justify-content: space-around !important;
    }

    header #sociales a {
        height: 100px;
        width: 100px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    header #sociales a i {
        font-size: 50px !important;
    }

    hr {
        display: flex;
        
    }

    main {
        display: grid;
        grid-template-areas:
        ".       ." 
        "figure  h1"
        "figure  skills"
        ".       ."
        "paginas paginas";
        grid-template-columns: 40% 60%;
        grid-template-rows: 25px 100px 200px 100px;

    }

    main h1 {
        grid-area: h1;
        
        
        
    }

    main figure {
        grid-area: figure;
        
    }

    main figure img {
        padding-left: 40px;
        width: 100%;
        /* display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 80%; */
    }
    

    main nav#skills {
        
        grid-area: skills;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-end;        
    }

    main h2 {
        justify-content: center;
        display: flex;
        font-family: 'Fredoka';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        color: #F1EFEF;
        width: 100%;
        text-shadow:
        -1px -1px 0 #000,
         0   -1px 0 #000,
         1px -1px 0 #000,
         1px  0   0 #000,
         1px  1px 0 #000,
         0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
    }

    main #skills a {
        
        color: blue;
        padding-right: 10px;
        background-color: black;
        border-radius: 100%;
        padding: 15px;
        text-align: center;
        height: 80px;
        width: 80px;
        font-size: 45px;
    }
    main #skills i {
        color: #2F88FF;
    }

    main hr {
        display: none;
    }

    main #paginas {
        
        padding: 20px;
        grid-area: paginas;
        display: flex;
        flex-flow: row nowrap !important; 
        justify-content: space-around;
    }

    main #paginas a {
        width: 120px;
        height: 100px !important;
        background: #2F88FF;
        border: 1px solid #2F88FF;
        border-radius: 50% 20% / 10% 40% !important;
        font-size: 18px !important;
    }    
        

}

@media (min-width: 999px) {

    header #sociales {
        justify-content: flex-end !important;
        gap: 20px;
    }

    hr {
        display: none;
    }
    main {
        grid-template-areas: 
        ".         ."
        "figure    h1"
        "figure    h3"
        "figure    skills"
        "hr         hr"
        "paginas   paginas";
        grid-template-columns: 40% 60%;
        grid-template-rows: 25px 100px 200px 200px ;
        grid-column-gap: 20px;
    }

    main h1 {

    }

    main h3 {
        grid-area: h3;
        display: flex;
        text-align: center;
        color: white;
        line-height: 40px;
        font-family: 'Fredoka', sans-serif;
        font-style: bold;
        font-weight: 400;
        font-size: 32px;
        padding-right: 40px;
        padding-left: 20px;
        text-shadow:
        -1px -1px 0 #000,
         0   -1px 0 #000,
         1px -1px 0 #000,
         1px  0   0 #000,
         1px  1px 0 #000,
         0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
    }

    main figure {
        /* padding-right: 40px; */
    }

    main figure img {
        height: 400px;
        width: 400px;
        /* padding-right: 40px; */
        /* row-gap: 30px; */
    }

    main hr {
        grid-area: hr;
        display: flex;
        height: 2px;
        margin-top: 20px;
    }


}