* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background-image: url(/Portfolio/img/image.jpg);
    background-repeat: no-repeat;
    padding: 30px 30px 0px 30px;
}

@media (min-width: 650px) {

    header #sociales {
        width: 100%;
        justify-content: space-around !important;
    }

    header #sociales a {
        height: 100px;
        width: 100px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    header #sociales a i {
        font-size: 50px !important;
    }

    hr {
        display: flex;
        
    }

    main {
        display: grid;
        grid-template-areas:
        ".       ." 
        "figure  h1"
        "figure  skills"
        ".       ."
        "paginas paginas";
        grid-template-columns: 40% 60%;
        grid-template-rows: 25px 100px 200px 100px;

    }

    main h1 {
        grid-area: h1;
        
        
        
    }

    main figure {
        grid-area: figure;
        
    }

    main figure img {
        padding-left: 40px;
        width: 300px;
        /* display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 80%; */
    }
    

    main nav#skills {
        
        grid-area: skills;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-end;        
    }

    main h2 {
        justify-content: center;
        display: flex;
        font-family: 'Fredoka';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        color: #F1EFEF;
        width: 100%;
        text-shadow:
        -1px -1px 0 #000,
         0   -1px 0 #000,
         1px -1px 0 #000,
         1px  0   0 #000,
         1px  1px 0 #000,
         0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
    }

    main #skills a {
        
        color: blue;
        padding-right: 10px;
        background-color: black;
        border-radius: 100%;
        padding: 15px;
        text-align: center;
        height: 80px;
        width: 80px;
        font-size: 45px;
    }
    main #skills i {
        color: #2F88FF;
    }

    main hr {
        display: none;
    }

    main #paginas {
        
        padding: 20px;
        grid-area: paginas;
        display: flex;
        flex-flow: row nowrap !important; 
        justify-content: space-around;
    }

    main #paginas a {
        width: 120px;
        height: 100px !important;
        background: #2F88FF;
        border: 1px solid #2F88FF;
        border-radius: 50% 20% / 10% 40% !important;
        font-size: 18px !important;
    }    
        

}